* {
  box-sizing: border-box;
}

body {
  
  font-family: Arial;
  margin: 0;
  height: 100px;
  width: 100%;
  
}
.header {
  display: inline;
  padding: 5px;
  /* text-align: center; */
  background: white;
  color: blue;
  height: 150px;
  /* height: 150px; */
 
  
  flex-wrap: wrap;
}  
#logo{
  float: left;
}
#header-text{
float: right;
padding-top: 40px;
width: 85%;
height: 120px;
color: #004157;
text-align: center;
}
#score{
  padding: 0;
  text-align: center; 
  background: cornflowerblue;
  color: gold;
 
}
#score-text{
  margin-bottom: 0;
}
#input-box{
  /* width: 70%; */
}
.content, #content-2{
  margin-top: 0;
  /* background-image: url("./images/football-field.jpg") ;
  background-size: cover;
  background-position: center; */
  height: 768px;
}
#content-2{
  display: none;
}
.picture-container{
  margin-top: 10px;
}
/* #score-text{
  width: 50%;
}
.menu{
 width: 50%;
 float: right;
} */

.row{
  display: flex;
}
.cell{
  text-align: center;
  }
/* .submit{
  margin-left: 
} */
#team{
  padding: 10px;
  text-align: center;
  width: 300%;
  height: 50px;
  font-weight: bold;
  display: flex;
}

#match{
  padding: 0px;
  width: 50%;
  float: right;
}

.work-feature-block {
  padding: 10px 0;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.work-feature-block-image {
  display: block;
  margin: auto;
  padding: 10px 0;
}

