
* {
  box-sizing: border-box;
 
  
}

body {
  
  font-family: Arial;
  margin: 0;
  height: 100px;
  width: 100%;
  
}
.header {
  display: flex;
  padding: 5px;
<<<<<<< HEAD
  /* text-align: center; */
  /* background: white; */
 
=======
  background: white;
>>>>>>> a0682c65c9797a55e26bf1192277ebd85621bfba
  color: blue;
  height: 150px;
  flex-wrap: wrap;
}  

/* #input-box{
  width: 50%;
  
} */

#logo{
 padding-left: 40px;
 padding-top: 10px;
}
#header-text{
/* float: right; */
/* text-align: center; */
padding-top: 40px;
width: 100%;
height: 120px;

color: #004157;
text-align: center;
}

#ytplayer{
  padding-left: 10px;
}
#input-box{
  margin: 10px;
}
#content-2{
  display: none;
}
.picture-container{
  margin-top: 10px;
}

.row{
  display: flex;
}
.cell{
  text-align: center;
  }

#team{
  padding: 10px;
  height: 50px;
  font-weight: bold;
  display: flex;
  color:#004157 ;
}
.teams-text{
  color:#004157;
}

#match{
  padding: 0px;
  width: 50%;
  float: right;
}

.work-feature-block {
  padding: 10px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  width: 100%;
  margin: 10px;
  display: flex;
  min-height: 350px;
  align-items: center;
  color:#004157;
}

.work-feature-block-image {
  display: block;
  margin: auto;
  padding: 10px 0;
  max-width: 350px;
}
/* #standings{
  display: flex;
} */

#flag {
  width: 50%;
  align-items: center;  
  display: inline-block;
}

#stats {
  width: 50%;
  align-items: center;
  /* align-items: center; */
}

.past-searches > button {
  margin-left: 3px;
  margin-right: 3px;
}

.team-buttons {
  padding: 10px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  margin: 10px;
 
}